.input{
    width: calc(100% - 16px);
}

.filter{
    display: flex;
}

.select{
    background-color: rgba(116, 110, 221, 0.16);
    border: 1px #746EDD solid;
    border-radius: 3px;
    margin-left: 5px;
}

.select:focus{
    outline: none;
}