.input{
    width: calc(100% - 10px);
    height: 75px;
    margin: 15px 0;
    resize: none;
    padding: 5px;
    border-radius: 5px;
    background-color: rgba(116, 110, 221, 0.16);
    border: 1px #746EDD solid;
}

.input:focus{
    outline: none;
}

.button{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}