.input{
    width: calc(100% - 10px);
    height: 75px;
    margin: 0;
    padding: 0;
    border: 1px black solid;
    resize: none;
    padding: 5px;
    border-radius: 5px;
}

.input:focus{
    outline: none;
}

.add_post{
    padding-bottom: 10px;
}

.button{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}